@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/*Colors*/
/*PRIMARY:*/
/*Background Gradient*/
/*Text*/
/*NEUTRAL*/
/*Text*/
/*Dividers*/
/*Typography*/
/*Background Gradient*/
/*FAQ ITEM hover states*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

html {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #4a4b5e;
}

.page-wrapper {
  background-image: linear-gradient(#af67e9, #6565e7);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  max-width: 70%;
  border-radius: 25px;
}
.card .card__item {
  flex-basis: 50%;
}

.hero-img-area {
  height: 100%;
  background-image: url(../images/bg-pattern-desktop.svg);
  background-size: 800px 800px;
  background-position: -400px -150px;
  background-repeat: no-repeat;
  position: relative;
}
.hero-img-area .hero-img-area__woman {
  background-image: url(../images/illustration-woman-online-desktop.svg);
  background-size: auto;
  background-position: -80px center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}
.hero-img-area .hero-img-area__woman .hero-img-area__mobile {
  display: none;
}
.hero-img-area .box {
  position: absolute;
  top: 210px;
  left: -93px;
}

.faq-area {
  font-size: 1.2em;
  padding: 5.5em 4em 4em 0;
}
.faq-area .faq-title {
  margin: 0 0 1.5em 0;
  font-size: 1.8em;
  color: #1d1e35;
}
.faq-area .faq-list {
  margin-top: 1.5em;
  height: 262.917px;
}
.faq-area .faq-list .faq-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 1em 0;
  border-bottom: 1px solid #e7e7e9;
  cursor: pointer;
}
.faq-area .faq-list .faq-item .question {
  display: block;
  flex-basis: 95%;
  flex-grow: 1;
  font-weight: 400;
  transition: 0.25s;
}
.faq-area .faq-list .faq-item .question__clicked {
  font-weight: 700;
  color: #1d1e35;
}
.faq-area .faq-list .faq-item .arrow-icon {
  pointer-events: none;
  align-self: center;
  display: block;
  transform: rotate(0);
  transform-origin: 50% 50%;
  transition: all 0.2s;
}
.faq-area .faq-list .faq-item .rotate {
  transform: rotate(180deg);
  transition: all 0.5s;
}
.faq-area .faq-list .answer {
  height: 0;
  font-size: 0.9em;
  font-weight: 400;
  padding-right: 3.5em;
  padding-bottom: 1em;
  margin-top: 0;
  transform: scaleY(0);
  opacity: 0;
  color: #787887;
  transition: opacity 0.2s ease-in-out;
}
.faq-area .faq-list .answer__active {
  height: auto;
  opacity: 1;
  margin-top: 0.5em;
  transform: scaleY(1);
  transition: opacity 0.5s ease-in-out;
}

@media (hover: hover) {
  .faq-item:hover .question {
    color: #f47c57;
  }
}
@media screen and (max-width: 1165px) {
  .card {
    flex-direction: column;
    max-width: 50%;
    margin: 10em auto 5em auto;
  }
  .card .hero-img-area {
    background: url(../images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 90%;
  }
  .card .hero-img-area .hero-img-area__woman {
    height: 150px;
    background: none;
  }
  .card .hero-img-area .hero-img-area__woman .hero-img-area__mobile {
    display: block;
    position: relative;
    bottom: 100px;
    right: 15px;
  }
  .card .hero-img-area .box {
    display: none;
  }
  .card .faq-area {
    flex-grow: 1;
    padding: 0;
    padding: 0 2em 4em 2em;
  }
  .card .faq-area .faq-title {
    text-align: center;
  }
  .card .faq-area .answer {
    padding-right: 0;
  }
}
@media screen and (max-width: 740px) {
  .card {
    max-width: 80%;
  }
}
@media screen and (max-width: 475px) {
  .card {
    max-width: 100%;
    margin: 10em 1em 1em 1em;
  }
}
@media screen and (max-width: 321px) {
  .card .faq-area {
    padding: 0 0.5em 4em 0.5em;
  }
}

/*# sourceMappingURL=style.css.map */
