@media screen and (max-width: 1000px) {
    .card {
        flex-direction: column;
        margin: 15em 0;
        margin-bottom: 2em;

        .hero-img-area {
            max-height: 50px;
            position: relative;
            .hero-img-area__woman {
                background: none;
            }
            .hero-img-area__mobile {
                display: block;
                position: absolute;
                top: -110px;
                left: -150px;
                bottom: 0;
            }
            .box {
                display: none;
            }
        }

        .faq-area {
            min-height: 400px;
            padding: 2em;
            margin-top: 2em;
            .faq-title {
                vertical-align: middle;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 475px) {
    .card {
        max-width: 95%;
        padding: 0;

        .faq-area {
            // padding: 0;
            .answer {
                padding-right: 0;
            }
        }
    }
}