@use 'variables';

.page-wrapper {
    @include variables.bg-gradient;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

// @media screen and (max-width: 1000px) {
//     .card {
//         flex-direction: column;
//         width: 95%;
//     }
// }